In [1]:
from PIL import Image
import heatmap as hp 
from pathlib import Path
import os

# Static
cell_size = 0.1 # square miles
LengthPixel = 15
WidthPixel = 23

In [2]:
df = hp.getFreqInMonth('split_by_month_output/000/2008_10.csv', cell_size, WidthPixel, LengthPixel)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.000000,0.184141,0.348540,0.000000,0.000000,0.000000,0.000000,0.000000,0.401917,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.269762,0.429917,0.368282,0.416501,0.368282,0.385942,0.385942,0.184141,0.659023,0.600642,0.429917,0.442339,0.348540,0.416501,0.269762
2,0.232360,0.401917,0.000000,0.116180,0.116180,0.000000,0.300321,0.000000,0.000000,0.000000,0.348540,0.539523,0.385942,0.385942,0.232360
3,0.000000,0.401917,0.000000,0.000000,0.000000,0.000000,0.184141,0.000000,0.000000,0.000000,0.000000,0.442339,0.000000,0.000000,0.000000
4,0.000000,0.401917,0.000000,0.000000,0.000000,0.000000,0.184141,0.000000,0.000000,0.000000,0.000000,0.269762,0.000000,0.000000,0.000000

In [17]:
img = Image.new('RGB', (WidthPixel, LengthPixel), color = 'black')
pixels = img.load()

for i in range(img.size[0]):
    for j in range(img.size[1]):
        test = int(255*df.loc[i,j])
        pixels[i,j] = (test, test, test)

img.save('pil_red.png')

In [16]:
print(pixels[14,0])

(14, 0, 93)