In [1]:
# Import Functions
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gp

In [2]:
import os
from pathlib import Path
currentDir = os.getcwd()
print(currentDir)

dataDir = os.path.join(currentDir, 'Data/')
print(dataDir)

parseDir = Path(dataDir).rglob('*.plt')
files = [x for x in parseDir]

/home/jeffmur/dev/urbanDataR/geolife
/home/jeffmur/dev/urbanDataR/geolife/Data/

In [3]:
dfs = [pd.read_table(f, skiprows = 5, sep = ",", names=['Latitude', 'Longitude', 'Zero', 'Altitude', 'Num of Days', 'Date', 'Time']) for f in files]

raw_users = pd.concat(dfs, ignore_index=True)

raw_users = raw_users.drop(['Num of Days','Zero'], axis=1)

In [4]:
df = raw_users
df = df.replace(0, np.nan)
df = df.dropna(how='all', axis=0)
df = df.replace(np.nan, 0)

df

           Latitude   Longitude  Altitude        Date      Time
1         39.977633  116.360098     259.2  2008-11-21  04:15:26
2         39.977633  116.360098     259.2  2008-11-21  04:15:28
3         39.977633  116.360098     259.2  2008-11-21  04:15:30
4         39.977612  116.360077     259.2  2008-11-21  04:15:33
5         39.977593  116.360063     259.2  2008-11-21  04:15:36
...             ...         ...       ...         ...       ...
24895643  39.986595  116.448735      14.0  2010-05-12  12:26:20
24895644  39.986589  116.448731      34.0  2010-05-12  12:26:22
24895645  39.986669  116.448795      40.0  2010-05-12  12:26:27
24895646  39.986723  116.448879      39.0  2010-05-12  12:26:32
24895647  39.986715  116.448992      54.0  2010-05-12  12:26:37

[24876978 rows x 5 columns]

In [5]:
# Create Bounding Box
maxLat = max(df['Latitude'])
minLat = min(df['Latitude'])
maxLon = max(df['Longitude'])
minLon = min(df['Longitude'])

print(f"Latidude \t Max: {maxLat}  \t Min: {minLat}")
print(f"Longitude \t Max: {maxLon} \t Min: {minLon}")

Latidude 	 Max: 400.166666666667  	 Min: 1.044024
Longitude 	 Max: 179.99694159999999 	 Min: -179.9695933